form {
display: inline-block;
justify-content: space-between;
border-radius: 46px;
width: 200px;
height: 300px;
transform: translate(600px, 100px);
background-color: #6A7A9F;
margin:10px;
padding: 20px;
}
.mt,
.mt-d {
  padding: 10px;
  border: 3px solid black;
display: inline-block;


margin: 10px;

}
.mt-d {
  display: flexbox;
  height: 60px;  
}